In [1]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks
'Michael Jackson'

'Michael Jackson'

In [4]:
#Digitals and spaces in string
'1 2 3 4 5 6 7'

'1 2 3 4 5 6 7'

In [5]:
#special characters in string
'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [6]:
# print the string
print("hello!")

hello!

In [7]:
#Assign string to variable
Name = "Michael Jackson"
Name

'Michael Jackson'

In [8]:
# Print the first element in the string
print(Name[0])

M

In [12]:
# Print the element on index 6 in the string
print(Name[6])

l

In [13]:
#Print the element on index 5in the string
print(Name[5])

e

In [14]:
# Print the element on the 12th index in the string
print (Name[12])

s

In [15]:
# Print the last element in the string
print(Name[-2])

o

In [16]:
# Print the first element in the string
print(Name[-15])

M

In [17]:
# Find the lenght of string
len("Michael Jackson")

15

In [18]:
# Take the slice on variable Name with only index 0 to index 3
Name[0:4]

'Mich'

In [19]:
# Take the slice on variable Name with only index 8 to index 11
Name[8:12]

'Jack'

In [20]:
# Get every second element. The elements on index 1,3,5...
Name[::2]

'McalJcsn'

In [21]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

In [22]:
#Concatenate two strings
Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

In [23]:
# print the string for 4 times
4* "Michael Jackson"

'Michael JacksonMichael JacksonMichael JacksonMichael Jackson'

In [25]:
# Concatenate strings
Name = "Michael Jackson"
Name = Name + "is the best"
Name

'Michael Jacksonis the best'

In [26]:
# New line escape sequence
print(" Michael Jackson \n is the best")

 Michael Jackson
 is the best

In [27]:
# Tab escape sequence
print(" Michael JAckson \\ is the best")

 Michael JAckson \ is the best

In [28]:
# r will tell python that string will be displayed as raw string
print (r" Michael Jackson \ is the best")

 Michael Jackson \ is the best

In [29]:
# Convert all the charcters in string to upper case
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [31]:
#Replace the old substring with the new target substing is the segment has been found in the string
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [34]:
# Find the substring in the string. only the index of the first element of substring in the string will be the output
Name = "Michael Jackson"
Name.find('el')

5

In [35]:
# Find the substring in the string.

Name.find('Jack')

8

In [36]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

In [39]:
# Write your code below and press Shift+Enter to execute 

A = "I'm new to computer science"
print("before upper:", A)

before upper: I'm new to computer science

In [40]:
B = "so that I started learning now"
print("before upper:", B)

before upper: so that I started learning now

In [42]:
C = A + B 
print(A + B)

I'm new to computer scienceso that I started learning now

In [49]:
Name[0:3]

'Mic'

In [56]:
Name[0 : 5 : 2]

'Mca'

In [57]:
# Write your code below and press Shift+Enter to execute

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
H = G.replace('Mary', 'Bob')
H

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'